<section>
  <div class="row">
    <div class="col-sm-8 form-group" >
        <label>Email:</label>
        <input type="text" [(ngModel)]="login.email" class="form-control" placeholder="Email"/>
      </div>
    <div class="col-sm-4 form-group">
        <label>Senha:</label>
        <div class="input-group">
            <input type="text"  [(ngModel)]="login.senha" class="form-control" placeholder="Senha">
            <div class="input-group-append">
              <button (click)="authenticate()" class="btn btn-primary" type="button">Login</button>
            </div>
          </div>
      </div>
  </div>

  

  <div class="row">
      <h3 >{{erros}}</h3>
  </div>

</section>

