
  <div class="row">
     <div class="col-md-3 form-group">
        
            <h5 class="font-weight-bold text-md-center bg-primary " style="color:white">Lista de Pessoas:</h5>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                   
                  <th (click)="ordernarNome()" >Nome</th>
                  <th (click)="ordernarIdade()">Idade</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of listaPessoa">
                  <td><a (click)="pesquisarPessoa(p.id)">{{p.nome}}</a></td>
                  <td style="text-align: right">{{p.idade}}</td>
                </tr>
                
              
                </tbody>
              </table>
      
    </div>
    <div class="col-md-1">
        <input type="button" (click)="inserirPessoa()" value="Cadastro de Pessoa" class="btn btn-primary"/>
  
    </div>
  
  </div>
