    <ul>
      <li *ngFor="let m of errorMessages">{{m}}</li>
    </ul>
    

<div class="row">
    <div class="col-md form-group">
      <input type="hidden" [value]="pessoa.id"/>
      <label for="">Nome:</label>
      <input type="text" [(ngModel)]="pessoa.nome" class="form-control"/>
    </div>
    <div class="col-md form-group ">
        <label for="">Idade:</label>
        <input type="hidden" [value]="pessoa.id"/>
        <input type="text" [(ngModel)]="pessoa.idade" class="form-control"/>
    </div>
    
</div>
<div class="row">
    <div class="col-md"></div>
    <div class="col-md">
        <button *ngIf="inclusaoPermitida" (click)="inserirPessoa()" class="btn btn-primary ">Inserir</button>
      <button *ngIf="pesquisaPermitida" (click)="pesquisarPessoaByNome()" class="btn btn-primary ml-2">Pesquisar</button>
      <button (click)="limparPessoa()" class="btn btn-primary ml-2">Limpar</button>
      
  </div>


